{% extends 'global/base.html' %}
{% load i18n %}
{% block title %}
    {% if recipe_exists %}
        {% translate 'Recipe Edit' %}
    {% else %}
        {% translate 'Recipe Create' %}
    {% endif %}
{% endblock title %}
{% block content %}
    <div class="main-content center container">
        <h2>
            {% if recipe_exists %}
                {% translate 'Dashboard - Recipe Edit' %}
            {% else %}
                {% translate 'Dashboard - Recipe Create' %}
            {% endif %}
        </h2>
        {% include 'global/partials/messages.html' %}
        <div class="left">
            {% include 'global/partials/form.html' %}
        </div>
    </div>
{% endblock content %}